@font-face {
  font-family: 'Stem', sans-serif;
  src: url('../fonts/Stem-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope' , sans-serif;
  src: url('../fonts/Manrope.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
