.login-wrapper {
  min-height: calc(100vh - var(--header-height) - 100px);
}

.login-card {
  background: white;
  padding: var(--space-lg);
  border-radius: var(--radius-lg);
  width: 370px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 100px auto;
}

.agmin-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input, textarea {
  width: 100%;
  padding: 12px 20px;
  border-radius: var(--radius-lg);
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

textarea {
  border-radius: 10px;
  resize: vertical;
  min-height: 100px;
}

input:focus, textarea:focus {
  border-color: #7c6cf6;
  box-shadow: 0 0 0 2px rgba(124, 108, 246, 0.1);
}

input[type="file"]::-webkit-file-upload-button {
  padding: 8px 16px;
  margin-right: 16px;
  border-radius: var(--radius-lg);
  border: none;
  background-color: var(--color-primary);
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: var(--color-primary-light);
}

input[type="file"].drag-over {
  border-color: #7c6cf6;
  background-color: rgba(124, 108, 246, 0.05);
}

.form-container{
  background: white;
  padding: var(--space-lg);
  border-radius: var(--radius-lg);
  width: 600px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: var(--space-xl);
}

.form{
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.card-container{
  background: white;
  padding: var(--space-lg);
  border-radius: var(--radius-lg);
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: var(--space-xl);
}

.card-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) 0;
  border-bottom: 1px solid #eee;
}